############################################################
# Editors and IDE
############################################################
*.vscode/
*.code-workspace

############################################################
# Object files
############################################################
*.o
*.obj
*.d
*.elf

############################################################
# Static / Shared libs
############################################################
*.a
*.so
*.dll
*.lib

############################################################
# Executables
############################################################
*.exe
*.out
*.app

############################################################
# Misc debug / binary artifacts
############################################################
*.pdb
*.idb
*.mod
*.exp
